---
import type { Education as EducationType } from "../../types/resume";
import ResumeSectionStyles from "./ResumeSectionStyles.astro";

export interface Props {
	education: EducationType;
}

const { education } = Astro.props;
---

<section class="resume-section">
  <h2>EDUCATION</h2>
  <hr />
  <div class="education-item">
    <div class="education-header">
      <span class="date">{education.graduationDate}</span>
      <span class="degree-info">
        {education.degree}, {education.emphasis}{education.minor && `, ${education.minor}`} | 
        <i>{education.school}</i> | {education.location}
      </span>
    </div>
    <ul>
      <li>GPA: {education.gpa} | {education.scholarship}</li>
      <li>Relevant Coursework: {education.relevantCoursework.join(', ')}</li>
    </ul>
  </div>
</section>

<ResumeSectionStyles />
