---
import type { ExperienceItem } from "../../types/resume";
import ResumeHeader from "./ResumeHeader.astro";
import ResumeSectionStyles from "./ResumeSectionStyles.astro";

export interface Props {
	experience: ExperienceItem[];
}

const { experience } = Astro.props;
---

<section class="resume-section">
  <h2>EXPERIENCE</h2>
  <hr />
  <div class="experience-list">
    {experience.map((item) => (
      <div class="experience-item">
        <ResumeHeader 
          date={`${item.startDate}–${item.endDate}`}
          info={`${item.position} | <i>${item.company}</i> | ${item.location}`}
          className="experience-header"
        />
        <ul>
          {item.responsibilities.map((resp) => (
            <li>{resp}</li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</section>

<ResumeSectionStyles />
