---
export interface Props {
	date: string;
	organization: string;
	position: string;
	location: string;
	className?: string;
}

const { date, organization, position, location, className = "" } = Astro.props;
---

<div class={`resume-header ${className}`}>
  <div class="header-content">
    <div class="header-row">
      <span class="organization" set:html={organization} />
      <span class="date">{date}</span>
    </div>
    <div class="header-row">
      <span class="position">{position}</span>
      <span class="location">{location}</span>
    </div>
  </div>
</div>

<style>
  .resume-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .header-content {
    flex: 1;
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .organization {
    font-weight: bold;
    font-style: italic;
  }

  .position {
    flex: 1;
  }

  .date, .location {
    white-space: nowrap;
    padding-left: 6px;
    text-align: right;
  }
</style>
