---
import type { VolunteerExperience as VolunteerExperienceType } from "../../types/resume";
import ResumeHeader from "./ResumeHeader.astro";
import ResumeSectionStyles from "./ResumeSectionStyles.astro";

export interface Props {
	volunteerExperience: VolunteerExperienceType;
}

const { volunteerExperience } = Astro.props;
---

<section class="resume-section">
  <h2>VOLUNTEER EXPERIENCE</h2>
  <hr />
  <div class="volunteer-item">
    <ResumeHeader 
      date={`${volunteerExperience.startDate}–${volunteerExperience.endDate}`}
      info={`${volunteerExperience.position} | <i>${volunteerExperience.organization}</i> | ${volunteerExperience.location}`}
      className="volunteer-header"
    />
    <ul>
      {volunteerExperience.responsibilities.map((resp) => (
        <li>{resp}</li>
      ))}
    </ul>
  </div>
</section>

<ResumeSectionStyles />
