---
import type { CoverLetterData } from "../../types/resume";
import Header from "./Header.astro";

export interface Props {
	name: string;
	contact: {
		phone: string;
		email: string;
		linkedin: string;
		website: string;
	};
	coverLetter: CoverLetterData;
}

const { name, contact, coverLetter } = Astro.props;
---

<div class="cover-letter-container">
	<Header name={name} contact={contact} />
	
	<div class="cover-letter-content">
		<p class="date">{new Date().getDate()} {new Date().toLocaleDateString('en-US', { 
			month: 'long', 
			year: 'numeric' 
		})}</p>
		
		<b class="company">
			{coverLetter.company}
		</b>

		<p class="internship-title">
			{coverLetter.internshipTitle}
		</p>

		<br />

		<p class="greeting">Dear {coverLetter.recipient},</p>
		
		<div class="body-paragraphs">
			{coverLetter.paragraphs.map((paragraph) => (
				<p>{paragraph}</p>
			))}
		</div>
		
		<p class="closing">
			Sincerely,<br /><br />
			<b>{name}</b>
		</p>
	</div>
</div>

<style>
	@media print {
		.cover-letter-container {
			max-width: none;
			margin: 0 !important;
			padding: 0.61in; /* 0.39 is default in Chrome */
		}
	}

	.cover-letter-container {
		page-break-before: always;
		max-width: 6.5in;
		margin: 0 auto;
	}

	.cover-letter-content {
		margin-top: 1rem;
	}

	.left-column {
		flex: 0 0 33%;
		align-self: flex-start;
        display: flex;
        justify-content: center;
	}

	.right-column {
		flex: 1;
		max-width: 50%;
	}

	.date {
		margin-bottom: 1rem;
		display: block;
	}

	.company, .internship-title {
	}

	.greeting {
		margin-bottom: 1rem;
		display: block;
	}

	.body-paragraphs p {
		margin-bottom: 1rem;
		text-align: justify;
	}

	.closing {
		margin-top: 1.5rem;
	}
</style>
